se agrega el correo de la vic
1
tu correo
estructura del mensaje
no
no
no
descripcion del mensaje
p
mensaje 

.Stopwatch {
  text-align: center;
  background: #f4f4f4;
  min-height: 100vh;
}
.Cronometro {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Cronometro-display {
  width: 100%;
  height: 50%;
}
.container {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
}
.spancon {
  display: flex;
  justify-content: center;
  font-size: 60px;
}
.centesimos {
  font-size: 25px;
  margin-top: 32px;
}
.play {
  font-size: 14px;
  padding: 6px 10px 6px 10px;
  border: none;
  color: white;
  background: green;
}
.detener {
  font-size: 14px;
  padding: 6px 10px 6px 10px;
  border: none;
  color: black;
  background: grey;
}
.boton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
